BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
SeparateDefinitionBlocks: Always
SortIncludes: false
